@font-face {
    font-family: 'Satoshi-Light';
    src: url('./fonts/Satoshi-Light.woff2') format('woff2'),
         url('./fonts/Satoshi-Light.woff') format('woff'),
         url('./fonts/Satoshi-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('./fonts/Satoshi-LightItalic.woff2') format('woff2'),
         url('./fonts/Satoshi-LightItalic.woff') format('woff'),
         url('./fonts/Satoshi-LightItalic.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('./fonts/Satoshi-Regular.woff2') format('woff2'),
         url('./fonts/Satoshi-Regular.woff') format('woff'),
         url('./fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('./fonts/Satoshi-Italic.woff2') format('woff2'),
         url('./fonts/Satoshi-Italic.woff') format('woff'),
         url('./fonts/Satoshi-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('./fonts/Satoshi-Medium.woff2') format('woff2'),
         url('./fonts/Satoshi-Medium.woff') format('woff'),
         url('./fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('./fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('./fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('./fonts/Satoshi-MediumItalic.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('./fonts/Satoshi-Bold.woff2') format('woff2'),
         url('./fonts/Satoshi-Bold.woff') format('woff'),
         url('./fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('./fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('./fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('./fonts/Satoshi-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('./fonts/Satoshi-Black.woff2') format('woff2'),
         url('./fonts/Satoshi-Black.woff') format('woff'),
         url('./fonts/Satoshi-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('./fonts/Satoshi-BlackItalic.woff2') format('woff2'),
         url('./fonts/Satoshi-BlackItalic.woff') format('woff'),
         url('./fonts/Satoshi-BlackItalic.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
  }

  *{
    box-sizing: border-box;
  }

  body{
    width: 100%;
    margin: 0px;
    background-color: #FAF9F6;
  }

.NavBar{
    background-color: #385C6C;
    height: 105px;
    display: flex;
    align-items: center; 
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);

}
#logo{
    margin-left: 6%;
}

.NavBar a img{
    height: 71px;
}

#search{
    height: 45px;
}

.NavLinks{
    margin-left: 5%;
    text-decoration: none;
    color: #FAF9F6;
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 24px;
}

.NavLinks:hover{
    border-bottom: 2px solid #D72020;
    box-shadow: 0 2px 0 0 #36382E;
}

.box{
   height: 75px;
   display: flex;
   cursor: pointer;
   padding: 10px 20px;
   border-radius: 30px;
   align-items: center;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
   background: #D72020;
}

.boxparent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16%;
}

.box:hover input{
    width: 100%
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent; 
    color: #FAF9F6;  
}

.box input::placeholder{
    color: #FAF9F6
}

.box a .fas{
    color: #1daf;
    font-size: 18px;
}

/***************************************************************************************************************************************************************/
#firstFrame{
    display: flex;
    margin-left: 5%;
}

#firstFrameimg{
    height: 780px;
}

#motto{
    font-size: 90px;
    text-align: right;
    font-family: 'Satoshi-Black', sans-serif;
    color: #385C6C;
    line-height: 1.2;
}

#sideTextcontainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 780px; /* Adjust the height as needed */
  }

#rooted{
    font-size: 24px;
    font-family: 'Satoshi-Regular', sans-serif;
    text-align: right;
}

#rooted span{
    font-family: 'Satoshi-Bold', sans-serif;
}

#findADoctor{
    border: none;
    width: 352px;
    height: 60px;
    background: #D72020; 
    border-radius: 12px;
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 20px;
    color: white;
}

#makeAnAppointment{
    margin-left: 10px;
    border: none;
    width: 352px; 
    height: 60px;
    background: #36382E;
    border-radius: 12px;
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 20px;
    color: white;
}

.separator{
  border: 15px #385C6C solid;
}

.Footer {
  height: 186px;
}

.InfoText {
 height: 186px;
  background: #D1DDE3;
  color: #36382E;
  font-size: 16px;
  font-family: 'Satoshi-Regular', sans-serif;
  line-height: 21px;
  word-wrap: break-word;
  padding-left: 3%;
  padding-top: 1%;
}

.bold {
   font-family: 'Satoshi-Bold', sans-serif;
}

.InfoText span:not(.bold) {
   font-family: 'Satoshi-Regular', sans-serif;
}

.RightsAndPolicies {
  color: black;
  font-size: 14px;
  font-family: 'Satoshi-Light', sans-serif;
  line-height: 18px;
  word-wrap: break-word;
}