@font-face {
    font-family: 'Satoshi-Light';
    src: url('./fonts/Satoshi-Light.woff2') format('woff2'),
         url('./fonts/Satoshi-Light.woff') format('woff'),
         url('./fonts/Satoshi-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('./fonts/Satoshi-LightItalic.woff2') format('woff2'),
         url('./fonts/Satoshi-LightItalic.woff') format('woff'),
         url('./fonts/Satoshi-LightItalic.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('./fonts/Satoshi-Regular.woff2') format('woff2'),
         url('./fonts/Satoshi-Regular.woff') format('woff'),
         url('./fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('./fonts/Satoshi-Italic.woff2') format('woff2'),
         url('./fonts/Satoshi-Italic.woff') format('woff'),
         url('./fonts/Satoshi-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('./fonts/Satoshi-Medium.woff2') format('woff2'),
         url('./fonts/Satoshi-Medium.woff') format('woff'),
         url('./fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('./fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('./fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('./fonts/Satoshi-MediumItalic.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('./fonts/Satoshi-Bold.woff2') format('woff2'),
         url('./fonts/Satoshi-Bold.woff') format('woff'),
         url('./fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('./fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('./fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('./fonts/Satoshi-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('./fonts/Satoshi-Black.woff2') format('woff2'),
         url('./fonts/Satoshi-Black.woff') format('woff'),
         url('./fonts/Satoshi-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('./fonts/Satoshi-BlackItalic.woff2') format('woff2'),
         url('./fonts/Satoshi-BlackItalic.woff') format('woff'),
         url('./fonts/Satoshi-BlackItalic.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
  }

  *{
    box-sizing: border-box;
  }

  body{
    width: 100%;
    margin: 0px;
  }

.NavBar{
    background-color: #FCFDFC;
    height: 105px;
    display: flex;
    align-items: center; 
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);

}
#logo{
    margin-left: 6%;
}

.NavBar a img{
    height: 71px;
}

#search{
    height: 68px;
}

.NavLinks{
    margin-left: 5%;
    text-decoration: none;
    color: #385C6C;
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 24px;
}

.NavLinks:hover{
    text-decoration: underline;
    color: #D72020;
}

.box{
   height: 75px;
   display: flex;
   cursor: pointer;
   padding: 10px 20px;
   border-radius: 30px;
   align-items: center;
   box-shadow: 0 10px 25px rgba(56, 92, 108, 0.50); 
}

.boxparent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16%;
}

.box:hover input{
    width: 100%
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;   
}

.box a .fas{
    color: #1daf;
    font-size: 18px;
}

/***************************************************************************************************************************************************************/
