#findADoctor{
  border: none;
  width: 352px;
  height: 60px;
  background: #D72020; 
  border-radius: 12px;
  font-family: 'Satoshi-Medium', sans-serif;
  font-size: 20px;
  color: white;
  cursor: pointer;
}