@font-face {
  font-family: "Satoshi-Light";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/Satoshi-Light.woff") format("woff"),
    url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("../fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-LightItalic.woff") format("woff"),
    url("../fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff"),
    url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Italic";
  src: url("../fonts/Satoshi-Italic.woff2") format("woff2"),
    url("../fonts/Satoshi-Italic.woff") format("woff"),
    url("../fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff"),
    url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("../fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff"),
    url("../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("../fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Black.woff") format("woff"),
    url("../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("../fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

input[type="button"] {
  cursor: pointer;
}

body {
  width: 100%;
  margin: 0px;
  background-color: #faf9f6;
}

.NavBar {
  background-color: #385c6c;
  height: 1%;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
}
#logo {
  margin-left: 5%;
}

.NavBar a img {
  height: 60px;
  width: 100%;
}

#search {
  height: auto;
  padding: 15%
}

.NavLinks {
  margin-left: 6%;
  text-decoration: none;
  color: #faf9f6;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 20px;
}

.NavLinks:hover {
  border-bottom: 2px solid #d72020;
}

.selected {
  border-bottom: 2px solid #d72020;
}

.box a .fas {
  color: #1daf;
  font-size: 18px;
}

/********************************************************** First Frame *****************************************************************************************************/
#firstFrame {
  display: flex;
}

#firstFrameImg {
  width: 50%;
  height: 100vh;
  background-image: url(../images/doctors_with_patient.png);
  background-position: center center;  /* Centers the background image */
  background-repeat: no-repeat;        /* Prevents the background image from repeating */
  background-size: cover;  
}

#motto {
  font-size: 80px;
  text-align: right;
  font-family: "Satoshi-Black", sans-serif;
  color: #385c6c;
  line-height: 1.15;
}

#sideTextcontainer {
  width: auto;
  margin-left: 5%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: right;
}

#rooted {
  font-size: 24px;
  font-family: "Satoshi-Regular", sans-serif;
  text-align: right;
}

#rooted span {
  font-family: "Satoshi-Bold", sans-serif;
}

#firstFrameButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7.5%;
}

#findADoctor {
  display: flex;
  align-items: center; 
  justify-content: center; 
  border: none;
  width: auto;
  padding-left: 10%;
  padding-right: 10%;
  height: 50px;
  background: #d72020;
  border-radius: 12px;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

#makeAnAppointment {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: 2%;
  border: none;
  width: auto;
  padding-left: 10%;
  padding-right: 10%;
  height: 50px;
  background: #385c6c;
  border-radius: 12px;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

/********************************************************** Second Frame *****************************************************************************************************/

#secondFrame {
  display: flex;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 7%;
}

#secondFrameText {
  width: 40%;
  padding-bottom: 5%;
  padding-left: 7%;
}

#medicalServices {
  color: #385c6c;
  font-size: 60px;
  font-family: "Satoshi-Black", sans-serif;
  line-height: 69px;
}

#medicalServices span {
  border-bottom: 5px solid #d72020;
}

#aboutMedicalServices{
  color: #36382E; 
  font-size: 20px;
  font-family: "Satoshi-Regular", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

.learnMore {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 60px;
  width: auto;
  padding-left: 12%;
  padding-right: 12%;
  position: absolute;
  background: #d72020;
  border-radius: 12px;
  text-align: center;
  color: #f9f4f5;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 20px;
  word-wrap: break-word;
  border: none;
  text-decoration: none;
  margin-top: 1%;
}

.carousel {
  width: 50%;
  position: relative;
  padding-left: 4%;
  aspect-ratio: 16/9;
  
}

.carousel__item {
  flex: 1 0 100%;
  display: none;
}

.carousel__item--selected{
  display: block;
}

.carousel__item img{
  height: auto;
  width: 100%;
  object-fit: cover;
}

.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: radial-gradient(closest-side, #ffffff 0%, #D9D9D9 100%);
  border-radius: 50%;
  cursor: pointer;
  margin: 0 2px;
  

}

.carousel__button--selected {
  background-image: linear-gradient(#d72020, #d72020);
}

/********************************************************** Third Frame *****************************************************************************************************/

#thirdFrame{
  height: 873px;
  background-color: #D1DDE3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#thirdFrameImg{
  width: 30%;
  object-fit: scale-down;
}

#thirdFrameText{
  margin-left: 8%;
  width: 40%;
}

#thirdFrameQuote{
  font-size: 48px;
  font-family: "Satoshi-Italic", sans-serif;
}

.redLine{
  width: 307px; 
  height: 0px; 
  border: 2px #D72020 solid
}

#thirdFrameQuoted span{
  font-family: "Satoshi-Bold", sans-serif;
}

#thirdFrameQuoted {
  font-size: 16px;
  word-wrap: break-word;
  font-family: "Satoshi-Regular", sans-serif;
}

/********************************************************** Fourth Frame *****************************************************************************************************/

.fourthFrame {
  height: 1214px;
  background: #F0F0F0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 3.5%;
  padding-bottom: 5%;
}

.center-text {
  text-align: center;
  margin-top: 7.5%;
}

.center-text .text-normal {
  color: #36382E;
  font-size: 60px;
  font-family: "Satoshi-Black", sans-serif; 
  font-weight: 900;
  line-height: 69px;
}

.center-text .text-highlight {
  color: #D72020;
  font-size: 60px;
  font-family: "Satoshi-Black", sans-serif; 
  font-weight: 900;
  line-height: 69px;
}

.rmci-img {
  width: 591px;
  height: 433px;
  border-radius: 12px;
  margin-left: 15%
}

.about-text {
  margin-top: 5%;
  width: 869px;
  text-align: center;
  color: #36382E;
  font-size: 20px;
  font-family: "Satoshi-Regular", sans-serif;
  font-weight: 400;
}

.centeredButton{
  width: 100%;
  display:flex; 
  align-items:center; 
  justify-content: center; 
  height: 10%; 
  padding-top: 10%;
}

#blue {
  background: #385c6c;
}


/********************************************************** Fifth Frame *****************************************************************************************************/

.fifthFrame {
  height: 1189px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.redLineCentered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-title, .description {
  text-align: center;
}


.header-text{
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base-map {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 2px solid #385C6C;
  margin-top: 7%;
}


.text-accent2 {
  color: #385C6C;
  font-size: 60px;
  font-family: "Satoshi-Black", sans-serif;
  font-weight: 900;
  line-height: 23px;
}

.text-dark {
  color: #36382E;
  font-size: 60px; /* Adjusted for consistency */
  font-family: "Satoshi-Black", sans-serif;
  line-height: 69px;
}

.text-light {
  color: #36382E;
  font-size: 20px;
  font-family: "Satoshi-Regular", sans-serif;
  
}

.text-accent {
  color: #385C6C;
  font-size: 20px;
  font-family: "Satoshi-Bold", sans-serif;
  text-decoration: underline;
  line-height: 23px;
}

.text-dark2 {
  color: #36382E;
  font-size: 20px; /* Adjusted for consistency */
  font-family: "Satoshi-Bold", sans-serif;
  line-height: 69px;
}



/********************************************************** Footer *****************************************************************************************************/

.Footer {
  width: 100%;
  height: 243px;
  background: #D1DDE3;
  border-radius: 12px;
  margin-top: 12%;
  padding-top: 3%;
  padding-left: 10%;
}

#footerStart{
  width: 35%;
}

.address-contact, .phone-number{
  width: 43%;
  color: #36382E;
  font-size: 16px;
  font-family: 'Satoshi-Regular', sans-serif;
}

.phone-number{
  margin-left: 5%;
}

.footer{
  display: flex;
}

.footer-details{
  display: flex;
}

.section-information{
  margin-left: 7%;
  font-family: 'Satoshi-Bold', sans-serif;
  font-size: 16px;
}

.footerLinks {
  color: #36382E;
  font-size: 16px;
  font-family: 'Satoshi-Regular', sans-serif;
}

.footerLinks a{
  text-decoration: none;
  color: #36382E;
}

.bottom-strip {
  width: 100%;
  height: 39px;
  background: #36382E;
  display: flex;
  padding-left: 10%;
  align-items: center;
}

.copyright-text {
  color: white;
  font-size: 14px;
  font-family: 'Satoshi-Light';
  opacity: 80%;
}

.terms-privacy {
  color: white;
  font-size: 14px;
  font-family: 'Satoshi-Regular';
  margin-left: 3%;
}

.logo-image {
  width: 46px;
  height: 55px;
}

.separator {
  border: 10px #385c6c solid;
}

#facebook {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

#location {
  width: 15px;
  height: 15px;
}

#phone {
  width: 15px;
  height: 15px;
}

.decoration-none{
  text-decoration: none;
  color: #36382E;
}

@media  screen and (max-width: 600px) 
{

  #firstFrameImg {
    background-position: center right;
  }

  #motto{
    font-size: 26px;
  }
}

