@font-face {
    font-family: "Satoshi-Light";
    src: url("../fonts/Satoshi-Light.woff2") format("woff2"),
      url("../fonts/Satoshi-Light.woff") format("woff"),
      url("../fonts/Satoshi-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Satoshi-LightItalic";
    src: url("../fonts/Satoshi-LightItalic.woff2") format("woff2"),
      url("../fonts/Satoshi-LightItalic.woff") format("woff"),
      url("../fonts/Satoshi-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Satoshi-Regular";
    src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
      url("../fonts/Satoshi-Regular.woff") format("woff"),
      url("../fonts/Satoshi-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Satoshi-Italic";
    src: url("../fonts/Satoshi-Italic.woff2") format("woff2"),
      url("../fonts/Satoshi-Italic.woff") format("woff"),
      url("../fonts/Satoshi-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Satoshi-Medium";
    src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
      url("../fonts/Satoshi-Medium.woff") format("woff"),
      url("../fonts/Satoshi-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Satoshi-MediumItalic";
    src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"),
      url("../fonts/Satoshi-MediumItalic.woff") format("woff"),
      url("../fonts/Satoshi-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Satoshi-Bold";
    src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
      url("../fonts/Satoshi-Bold.woff") format("woff"),
      url("../fonts/Satoshi-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Satoshi-BoldItalic";
    src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"),
      url("../fonts/Satoshi-BoldItalic.woff") format("woff"),
      url("../fonts/Satoshi-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Satoshi-Black";
    src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
      url("../fonts/Satoshi-Black.woff") format("woff"),
      url("../fonts/Satoshi-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Satoshi-BlackItalic";
    src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"),
      url("../fonts/Satoshi-BlackItalic.woff") format("woff"),
      url("../fonts/Satoshi-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
  }
  
  * {
    box-sizing: border-box;
  }
  
  input[type="button"] {
    cursor: pointer;
  }
  
  body {
    width: 100%;
    margin: 0px;
    background-color: #faf9f6;
  }
  
  .NavBar {
    background-color: #385c6c;
    height: 1%;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  }
  #logo {
    margin-left: 5%;
  }
  
  .NavBar a img {
    height: 60px;
    width: 100%;
  }
  
  #search {
    height: auto;
    padding: 15%
  }
  
  .NavLinks {
    margin-left: 6%;
    text-decoration: none;
    color: #faf9f6;
    font-family: "Satoshi-Regular", sans-serif;
    font-size: 20px;
  }
  
  .NavLinks:hover {
    border-bottom: 2px solid #d72020;
  }
  
  .selected {
    border-bottom: 2px solid #d72020;
  }
  
  .box {
    height: auto;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    align-items: center;
    background: #d72020;
  }
  
  .boxparent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }
  
  .box:hover input {
    width: 80%;
  }
  
  .box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.5s;
    background: transparent;
    color: #faf9f6;
  }
  
  .box input::placeholder {
    color: #faf9f6;
  }
  
  .box a .fas {
    color: #1daf;
    font-size: 18px;
  }
  
/********************************************************** First Frame *****************************************************************************************************/

  #firstFrame {
    height: 380px;
    background-image: url(../images/doctor_header.png);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: #F9F4F5; 
    font-size: 48px; 
    font-family: "Satoshi-Black", sans-serif;
    word-wrap: break-word
  }

/********************************************************** Second Frame *****************************************************************************************************/

  #secondFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  #secondFrameImages{
    width: 40%;
  }

  .service-image{
    margin-top: 3%;
  }

  #secondFrameText{
    margin-left: 2%;
    width: 40%;
  }

  #cardiology { 
    height: 512px; ;
    background: #D1DDE3; 
    border-radius: 12px;
    display: flex;
    align-items: center;
  }

  .title-text {
    font-size: 28px;
    font-family: "Satoshi-Black", sans-serif;
    color: #36382e;
    margin-left: 5%;
  }

  .title-highlighted {
    color: #D72020;
  }

  .text-black {
    font-size: 20px;
    font-family: "Satoshi-Medium", sans-serif;
    color: #36382e;
    margin-left: 10%;
    margin-top: 3%;
  }

  .text-red {
    color: #D72020;
    margin-left: 17%;
    margin-top: 0%;
  }

  #vascular {
    height: 465px; 
    background: #D1DDE3; 
    border-radius: 12px;
    margin-top: 4%;
    display: flex;
    align-items: center;
  }

  #diabetes {
    height: 300px; 
    background: #D1DDE3; 
    border-radius: 12px;
    margin-top: 4%;
    display: flex;
    align-items: center;
  }

  #other {
    height: 281px; 
    background: #D1DDE3; 
    border-radius: 12px;
    margin-top: 4%;
    display: flex;
    align-items: center;
  }

  #packages {
    height: 220px; 
    background: #D1DDE3; 
    border-radius: 12px;
    margin-top: 4%;
    display: flex;
    align-items: center;
  }

/********************************************************** Third Frame *****************************************************************************************************/

  .redLine {
    width: 100px; 
    height: 0px; 
    border: 2px #D72020 solid
  }

  .thirdFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }
  
  .centered{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .base-map {
    margin-top: 7%;
  }
  
  .header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  
  .text-accent2 {
    color: #385c6c;
    font-size: 60px;
    font-family: "Satoshi-Black", sans-serif;
    font-weight: 900;
    line-height: 23px;
  }
  
  .text-dark {
    color: #36382e;
    font-size: 60px; /* Adjusted for consistency */
    font-family: "Satoshi-Black", sans-serif;
    line-height: 69px;
  }
  
  .contact-info {
    margin-top: 5%;
    display: flex;
    align-items: center;
    margin-left: 12%;
  }
  
  .text-light {
    color: #36382e;
    font-size: 20px;
    font-family: "Satoshi-Regular", sans-serif;
  }
  
  .text-accent {
    color: #385c6c;
    font-size: 20px;
    font-family: "Satoshi-Black", sans-serif;
    text-decoration: underline;
    line-height: 23px;
  }
  
  .text-dark2 {
    color: #36382e;
    font-size: 20px; /* Adjusted for consistency */
    font-family: "Satoshi-Black", sans-serif;
    line-height: 69px;
  }
  
  .spacing {
    margin-top: 7%;
  }
  
  .color-blue {
    font-family: "Satoshi-Black", sans-serif;
    color: #385c6c;
    font-size: 16px;
  }
  
  .learnMore {
    height: 60px;
    width: 542px;
    margin-top: 10%;
    background: #d72020;
    border-radius: 12px;
    text-align: center;
    color: #f9f4f5;
    font-family: "Satoshi-Medium", sans-serif;
    font-size: 20px;
    word-wrap: break-word;
    border: none;
  }